{% extends 'base.twig' %}
{% block content %}
{% if ack is defined %}
{% for item in ack %}
<div class="ack_{{ item.type }} message">
    {{ item.message }}
</div>
{% endfor %}
{% endif %}

<section class="panel spotlight large left d-flex ">
  <div class="content span-5">
    <h1 class="major align-center">{{ data.article.titre }}</h1>
    <p class="contenuarticles"> {{ data.article.content }}</p>
  </div>
  <div class="image filtered tinted" data-position="top right">
    <img src="{{ data.article.image}}" alt="photo de l'article">

  </div>
  <div class="ml-2 mt-2">
    <h4> Mise en ligne le :</h4>
    <p>{{ data.article.createdAt|date('d-m-Y') }}</p>

    {% if data.article.modifyAt%}

    <h4>Dernière mise à jour : </h4>
    <p>{{ data.article.modifyAt|date('d-m-Y')}}</p>

    {% endif %}
  </div>
</section>

<section class="panel color2-alt ">
  <div class="intro color2 commenttitle">
    <h2 class="major">Commentaires</h2>

  </div>
  <div class="inner columns aligned contentcomment">
    <div class="span-2-75 ">

      <h3 class="major">Commentaires</h3>
      {% for item in data.commentaires %}
      {% if item.statut == 1 %}
      <div class="d-flex column">
        <div class="d-flex">
          <h4>
            {% if data.role == 1 %}	
            <a href="/admin/delete_comment/{{item.id}}" method="get">
              <i class="far fa-trash-alt mr-1"></i>
            </a>
            {% endif %}
            
            Auteur : </h4>
          <p class="auteur">{{ item.auteur }}</p>
        </div>
        <div class="mb-2">
          <div>
            {% autoescape %}
            {{ item.contenu|raw }} {# var won't be escaped #}
        {% endautoescape %}
          </div>
        </div>
        <div class="d-flex">
          <p>Date : </p>
          <p class="ml-1">{{item.created_at|date("d/m/Y")}}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>


    </div>
  </div>
</section>
<section class="panel color4-alt size3">
  <div class="intro color4">
    <h2 class="major mb-2">Poster un commentaire</h2>
    <p>Vous devez être inscrits et connectés pour soumettre un commentaire</p>
    <p class="mt-1">Après sa soumission, votre commentaire sera étudié avant d'être mis en ligne</p>
  </div>
  <div class="inner columns divided">
    <div class="span-3-25">
      <form method="post" action="/article/{{ data.article.url }}">
        <div class="fields">
          <div class="field half">
            <label for="auteur">Nom</label>
            <input type="text" name="auteur" id="auteur" />

            <input type="hidden" name="id_article" id="id_article" value="{{ data.article.id }}" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="field">
            <label for="content">Votre commentaire</label>
            <textarea name="content" id="content" rows="4"></textarea>
          </div>
        </div>
             
        <ul class="actions">
          {% if data.user is empty %}
          <li><a href="/login">Connexion</a></li>
          <li><a href="/registration">Inscription</a></li>
          {% else %} 
          <li><input type="submit" name="submit" value="Envoyer mon commentaire" class="button primary" /></li>
        </ul>
        {% endif %}
      </form>
    </div>
  </div>
</section>
{% endblock %}