{% extends 'base.twig' %}
{% block content %}


<section class="panel spotlight large left">
  <div class="content span-5">
    <h1 class="major align-center">{{ data.article.titre }}</h1>
    <p class="contenuarticles"> {{ data.article.content }}</p>
  </div>
  <div class="image filtered tinted" data-position="top right">
    <img src="{{ data.article.image}}" alt="photo de l'article">

  </div>

</section>

<section class="panel color2-alt">
  <div class="intro color2">
    <h2 class="major">Commentaires</h2>
    <p>Affiche commentaires </p>
  </div>
  <div class="inner columns aligned">
    <div class="span-2-75">

      <h3 class="major">Commentaires</h3>
      {% for item in data.commentaires %}
      <h1>{{ item.auteur }}</h1>
      <p>{{ item.contenu }} </p>
      {% endfor %}



    </div>
  </div>
</section>
<section class="panel color4-alt">
  <div class="intro color4">
    <h2 class="major">Poster un commentaire</h2>
    <p>Après sa soumission, votre commentaire sera étudié avant d'être mis en ligne</p>
  </div>
  <div class="inner columns divided">
    <div class="span-3-25">
      <form method="post" action="#">
        <div class="fields">
          <div class="field half">
            <label for="name">Nom</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="field">
            <label for="message">Votre commentaire</label>
            <textarea name="message" id="message" rows="4"></textarea>
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Envoyer mon commentaire" class="button primary" /></li>
        </ul>
      </form>
    </div>
  </div>
</section>
{% endblock %}